
.icon-bw-home:before { content: '\e800'; } /* '' */
.icon-bw-list:before { content: '\e801'; } /* '' */
.icon-bw-profile:before { content: '\e803'; } /* '' */
.icon-bw-trending:before { content: '\e804'; } /* '' */